.h1 {
  color: red;
  font-size: 20px;
  background-color: black;
  text-align: center;
}

@media (max-width: 576px) {
  .h1 {
    font-size: 15px;
    color: aqua;
  }
}

@media (orientation: landscape) {
  body {
    background-color: #fff;
  }
}

@media (orientation: portrait) {
  body {
    background-color: greenyellow;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: blueviolet;
  }
}

.container {
  background-color: black;
  color: white;
  font-size: 12px;
  max-width: 500px;
  min-height: 200px;
}

.list-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 5px solid black;
}
.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.list-item {
  width: 200px;
  min-height: 100px;
  background-color: blue;
  /* overflow-y: auto; */
  padding: 10px;
}

@media (hover:hover) {
  .list-item:hover {
    background-color: red;
  }
}
