* {
  font-size: 50px;
}
li::before {
  content: '>>';
}


li::after {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
}

li:last-child::after {
  display: none;
}

li::marker {
  color:aqua;
  content: '@'
}