div {
  background-color: aqua;
  height: 200px;
}

.test {
  background-color:bisque;
}

#test2 {
  background-color:cornflowerblue;
}

.test-class {
  background-color:black;
}

.test-class {
  background-color:aquamarine;
}